.card-img-default {
    width: 100%;
    height: 100%;
    background-position: center;
}
.card-login-container{
    width: 550px;
    
}

.card-img-top {
    width: 80%;
    border-radius: 10px;
}

.card {
    /* ... outras regras ... */
    width: 100%;
}

@media (min-width: 576px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 48%; /* ou qualquer porcentagem que você preferir */
    }
}

@media (min-width: 992px) {
    .card {
        width: 32%; /* ou qualquer porcentagem que você preferir */
    }
}

.card-position {
    padding-top: 15px;
}

* {
    font-family: Segoe UI;
}

body {
    margin: 0;
    color: #FFF;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#098fd3, #0978d3);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Adicionado para centralizar verticalmente */
    align-items: center; /* Adicionado para centralizar horizontalmente */
}


.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(-180deg);
}

.card .arrow span {
    font-size: 24px;
}

.tx-color {
    color:#098fd3;
}

.card .img .tx-color {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    opacity: 1; /* Defina a opacidade inicial */
}

.card:hover .img .tx-color {
    opacity: 0; /* Torne o texto transparente ao passar o mouse */
}

.arrow-color {
    color:white
}



/* conhecimentos */
@media (min-width: 576px) {
    .card2 {
        width: 100%; /* Cards ocupam 100% da largura em telas menores */
    }
}

@media (min-width: 768px) {
    .card2 {
        width: 48%; /* Cards ocupam 48% da largura em telas médias */
    }
}

@media (min-width: 992px) {
    .card2 {
        width: 32%; /* Cards ocupam 32% da largura em telas grandes */
    }
}

.card2 {
    position: relative;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    padding: 40px 15px;
    background: #333;
    cursor: pointer;
  }
  
  .card2:hover {
    width: 300px;
    height: 320px;
  }
  
  .imgbox2 {
    position: relative;
    width: 40%;
    height: 50%;
    transform: translateY(-80px);
    z-index: 99;
  }
  
  img .i2 {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(153, 46, 46, 0.5);
  }

  .content2 {
    padding: 5px 5px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
  }
  
  .card2:hover > .content2 {
    opacity: 1;
    transform: translateY(-105px);
  }
  
  .content2 h2 {
    color: #ffffff;
  }
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para que os cards se movam para a linha seguinte em telas menores */
}

.card-text {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

.card3:hover .card-text {
    max-height: 100px; /* Altura máxima que você deseja exibir ao passar o mouse */
  }
  #contact .container .row .col-md-4 {
    margin-left: 30px;
  }

  @media (min-width: 576px) {
    .card3 {
        width: 100%; /* Cards ocupam 100% da largura em telas menores */
    }
}

@media (min-width: 768px) {
    .card3 {
        width: 48%; /* Cards ocupam 48% da largura em telas médias */
    }
}

@media (min-width: 992px) {
    .card3 {
        width: 32%; /* Cards ocupam 32% da largura em telas grandes */
    }
}

.card3-container {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra para a próxima linha em telas menores */
    justify-content: space-between; /* Distribui os cards uniformemente na linha */
}

.card3 {
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.575) 0px 2px 3px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 20px; /* Adicionei um espaço entre os cards */
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #181a1f;
  padding: 0px 20px;
}

.container3 {
  padding: 50px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent3 {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card3 {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card3:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box3 {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box3 .card-title3 {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box3 .card-title3:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box3 .card-content3 {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box3 .card-content3:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box3 .see-more3 {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0088ff;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
  cursor: pointer;
}
.content-box3 .see-more3:hover {
  transform: translate3d(0px, 0px, 50px);
}

.see-more3:hover{
    cursor:pointer;
    color: #02315a;
    transition: 0.2ms;
}

.date-box3 {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box3 span {
  display: block;
  text-align: center;
}
.date-box3 .month3 {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box3 .date3 {
  font-size: 20px;
  font-weight: 900;
  color: #0088ff;
}

.card-2 {
  filter: hue-rotate(150deg);
}

.card-3 {
  filter: hue-rotate(300deg);
}

.card-4 {
  filter: hue-rotate(90deg);
}

.card-5 {
    filter: hue-rotate(10deg);
  }

  ol, ul {
    padding-left: 0;
}